@model IEnumerable<PDHourTracker.Web.Models.Workshops.WorkshopAttendeeHourModel>

@* Creates a table listing all given attendee hours for workshop. *@

<table class="table table-sm table-striped">
    <caption class="text-center">List of Workshop Attendees</caption>
    <thead>
        <tr class="table-primary">
            <th>Name</th>
            <th>ID</th>
            <th>Hours</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var attendeeHour in Model)
            {
                <tr data-id="@attendeeHour.AttendeeHourId">
                    <td>@attendeeHour.FullName</td>
                    <td>@attendeeHour.CertId</td>
                    <td>@attendeeHour.PDHours</td>
                    <td>
                        <a href="#" class="delete" data-id="@attendeeHour.AttendeeHourId">Remove</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>