@model PDHourTracker.Web.Models.PagingModel

@{
    var screenReaderCurrent = "<span class=\"sr-only\">(current)</span>";
    var activeClass = "active";
}

<nav aria-label="Page nagivation">
    <ul class="pagination">
        <li class="page-item">
            <a asp-controller="@Model.Controller" asp-action="@Model.Action" class="page-link"
               asp-route-p="@Model.FirstPageNum" asp-route-ps="@Model.PageSize" asp-route-sv="@Model.SearchValue">
                <span class="sr-only">First page</span>
                &laquo;
            </a>
        </li>
        <li class="page-item">
            <a asp-controller="@Model.Controller" asp-action="@Model.Action" class="page-link"
                asp-route-p="@Model.PrevPageNum" asp-route-ps="@Model.PageSize" asp-route-sv="@Model.SearchValue">
                <span class="sr-only">Previous Page</span>
                &lsaquo;
            </a>
        </li>
        @* Individual page links *@
        @for (int i = 1; i <= Model.NumPages; i++)
        {
            if (i == Model.PageNum)
            {
                activeClass = "active";
                screenReaderCurrent = "<span class=\"sr-only\">Current page</span>";
            }
            else
            {
                activeClass = "";
                screenReaderCurrent = "";
            }

            <li class="page-item @activeClass">
                <a asp-controller="@Model.Controller" asp-action="@Model.Action" class="page-link"
                   asp-route-p="@i" asp-route-ps="@Model.PageSize" asp-route-sv="@Model.SearchValue">
                    @i  @Html.Raw(screenReaderCurrent)
                </a>
            </li>
        }
        <li class="page-item">
            <a asp-controller="@Model.Controller" asp-action="@Model.Action" class="page-link"
                asp-route-p="@Model.NextPageNum" asp-route-ps="@Model.PageSize" asp-route-sv="@Model.SearchValue">
                <span class="sr-only">Next Page</span>
                &rsaquo;
            </a>
        </li>
        <li class="page-item">
            <a asp-controller="@Model.Controller" asp-action="@Model.Action" class="page-link"
               asp-route-p="@Model.LastPageNum" asp-route-ps="@Model.PageSize" asp-route-sv="@Model.SearchValue">
                <span class="sr-only">Last page</span>
                &raquo;
            </a>
        </li>
    </ul>
</nav>